[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
aws-lambda-powertools = "*"

[dev-packages]
pre-commit = "*"
radon = "*"
boto3 = "*"
moto = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"

[requires]
python_version = "3.9"
